@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .neon-pink {
    color: #ff00ff;
    text-shadow:
      0 0 2px #ff00ff,
      0 0 2px #ff00ff,
      0 0 2px #ff00ff,
      0 0 2px #ff69b4;
  }
}

html,
body,
#root
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #582688;
    background: radial-gradient(circle, rgba(88, 38, 136, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

/* pink gradient
background: #E208E0;
background: radial-gradient(circle, rgba(226, 8, 224, 1) 0%, rgba(0, 0, 0, 1) 100%);

purple gradient
background: #582688;
background: radial-gradient(circle, rgba(88, 38, 136, 1) 0%, rgba(0, 0, 0, 1) 100%);*/
